<section id="main-slider" class="no-margin">
    <div class="carousel slide">
        <ol class="carousel-indicators">
            {% for item in sliderData %}
                <li data-target="#main-slider" data-slide-to="{{ loop.index0 }}" class="active"></li>
            {% endfor %}
        </ol>
        <div class="carousel-inner">
            {% for item in sliderData %}
                <div class="item {{ item.active }}" style="background-image: url({{ item.path }})">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">{{ item.heading }}</h1>
                                    <h2 class="animation animated-item-2">{{ item.shortDescription }}</h2>
                                    <a class="btn-slide animation animated-item-3" href="{{ item.landingUrl }}">{{ item.buttonText }}</a>
                                </div>
                            </div>
                            <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="slider-img">
                                    <img src="{{ item.animatationImgPath }}" class="img-responsive">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
        <i class="fa fa-chevron-left"></i>
    </a>
    <a class="next hidden-xs" href="#main-slider" data-slide="next">
        <i class="fa fa-chevron-right"></i>
    </a>
</section>